name: Docs

on:
  push:
    branches:
      [ master, develop ]
  pull_request:
    branches:
      [ master, develop ]

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        cache: "pip"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[docs]
    - name: Build docs
      run: sphinx-build -b html -n -W docs/source docs/_build/html
